<div class="author">
    <h1 class="author__heading">ThinkSphere - A Blogging Application</h1>
    <p  class="author__body" style="white-space: pre-line;">
        Welcome to ThinkSphere where every word matters.
        Dive into a world of inspiration, share your ideas, 
        and connect with fellow writers who believe in the power of storytelling.
    </p>
</div>
<img src="/img/a.webp" alt="" class="hero-image" style="width: 100%; height: auto; display: block; margin: 30px auto;">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
  
    <ul class="article-ul">
     <li>
          <a href="#">
            <span>Post Title</span>
            <span class="article-list__date">Date</span>
          </a>
     </li>
    </ul>
  
    <a href="" class="pagination">&lt; View Older Posts</a>
  
  
  </section>